
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container">
    <a class="navbar-brand text-white" href="#">ISBUL</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-işbul" aria-controls="navbar-işbul">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="#navbar-işbul">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="/">Ana Sayfa</a>
        </li>

        <li class="nav-item dropdown text-white">
          <a class="nav-link text-white" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İlanlar</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/posts">İş İlanları</a>
            <a class="dropdown-item" href= "/postsf">Freelancer İlanları</a>
        </li>
        <% if(user){ %>
         
        
        <li class="nav-item dropdown text-white">
          <a class="nav-link text-white" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İlan Oluştur</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/createPost">İş İlanı Oluştur</a>
            <a class="dropdown-item" href= "/createPostf">Freelancer İlanı Oluştur</a>
        </li>
        <li class="nav-item dropdown text-white">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hesap
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Profilim</a>
            <a class="dropdown-item" href= "">Başvurduğum İşler</a>
            <a id = "navbar1"class="dropdown-item" href="/myposts">Paylaştığım İlanlar</a>
            <a class="dropdown-item" href="/logout">Çıkış Yap</a>
            <a class="dropdown-item" href="/userDelete">Hesabı Sil</a>
          </div>
        </li>
        <%  } else { %>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="/login">Giriş Yap</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="/register">Üye ol</a>
        </li>
        <%  } %>

      </ul>
    </div>

  </div>
</nav>
