<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container">
  <% applicants.forEach(function(applicant) {%>
  <div class="row mt-3 d-flex justify-content-center ">
    <div class="col-md-7 ">
      <div class="row g-0 rounded overflow-hidden shadow-lg h-md-250 bg-light">
        <div class="col p-4 ">


          <div class="row flex-column">
            <h3 class="mb-0"> <b> <%= applicant.name %> <%=  applicant.lastName %> </b></h3>
          </div>

          <div class="">
            <p> <%= applicant.cv %> </p>
          </div>


          <div class="text-right">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
              İletişim Bilgilerini Görüntüle
            </button>
          </div>


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">İletişim Bilgileri</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row flex-column">
                    <h3 class="mb-0"> <b> <%= applicant.name %> <%=  applicant.lastName %>: <%= applicant.email %></b></h3>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% })%>
</div>

<%- include("partials/footer") -%>
