<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container">
  <div class="col-md-8 mx-auto mt-5">
    <div class="card">
        <h5 class="card-header">Freelancer İlanı Oluştur</h5>
        <div class="card-body">

            <form action="/createPostf" method="POST">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="postTitle" placeholder="Post Title"">
                </div>

                <div class="form-group">
                    <label for="postContent">Content</label>
                    <input class="form-control" type="text" name="postContent"  placeholder="Post Content">
                </div>

                <button type="submit" class="btn btn-danger btn-block">Paylaş</button>
            </form>

        </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
