<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div class="card">

    <div class="card-header">home</div>

    <div class="card-body">

        <ul class="list-group">

        </ul>
    </div>

</div>
<%- include("partials/footer") -%>
