<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container">
  <div class="col-md-8 mx-auto mt-5">
  <div class="card">
      <h5 class="card-header">Login To Your Account</h5>
      <div class="card-body">

          <form action="/login" method="POST">

            <div class="form-group">
                <label for="username">Email</label>
                <input class="form-control" type="email" name="username" id="email" placeholder="Enter Email"
                    required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password"
                    required>
            </div>

            <button type="submit" class="btn btn-dark btn-block"> Login</button>
          </form>
          <button type="button" class="btn btn-blue btn-block "><a href="/sifre">Sifremi Unuttum</a></button> 
      </div>
      </div>
  </div>
</div>

<%- include("partials/footer") -%>
