<%- include("partials/header") -%>
<%- include("partials/navbar") -%>





<div class="container">


  <% posts.forEach(function(post) {%>
    <div class="row mt-3 d-flex justify-content-center ">
      <div class="col-md-7 ">
        <div class="row g-0 rounded overflow-hidden shadow-lg h-md-250 bg-light">
          <div class="col p-4 ">

            <h3 class="mb-0"> <b> <%= post.title %> </b></h3>
            <p class="my-3"> <%= post.content  %></p>

             <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-dark text-left"><a href="/posts/<%= post.id %>">İlanı Görüntüle</a></button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <% })%>
</div>


<%- include("partials/footer") -%>
