<%- include("partials/header") -%>
<%- include("partials/navbar") -%>




<div class="container ">
  <div class="row mt-3 d-flex justify-content-center ">
    <div class="col-md-10 ">
      <div class="row g-0 rounded overflow-hidden shadow-lg h-md-250 bg-light">
        <div class="col p-4 ">

          <h3 class="mb-0"> <%= post.title %></h3>
          <p class="my-3"> <%= post.content %></p>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">

            <% if(user){ %>

              <% if(user.id == post.postedBy )  {  %>
                <div class="">
                  
                    <button type="button" class="btn btn-outline-primary text-left"><a href="/<%= post.id %>/duzenle">İlanı Düzenle</a></button> 
                </div>

                <div class="">
                  <form action="/<%= post.id %>/delete" method="POST">
                    <button type="submit" class="btn btn-outline-primary text-left">İlanı Kaldır</button> </form>
                </div>
                <div class="ml-3">
                  <button type="button" class="btn btn-outline-primary text-left"><a href="/<%= post.id %>/applicants">Başvuranları Görüntüle</a></button>
                </div>

              <% } else{ %>
                  <%  if(applied){ %>

                    <form action="/<%= post.id %>/basvuruIptal" method="POST">
                      <button type="submit" class="btn btn-outline-primary text-left">Başvurunu İptal Et</button>
                    </form>

                  <%  }else { %>

                  <form class="" action="/<%= post.id %>/apply" method="POST">
                    <button type="submit" class="btn btn-outline-primary text-left">Başvur</button>
                  </form>

                  <% } %>

              <% } %>

            <%} else {%>

              <button type="button" class="btn btn-outline-primary text-left"><a href="/login">Başvur</a></button>
          <%  }%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer") -%>
