<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container">
  <div class="col-md-8 mx-auto mt-5">
    <div class="card">
      <h5 class="card-header">Register</h5>
        <div class="card-body">

          <form action="/register" method="POST">

              <div class="form-group">
                  <label for="username">email</label>
                  <input class="form-control" type="text" name="email" id="email" placeholder="Enter email" required>
              </div>

              <div class="form-group">
                  <label for="password">Password</label>
                  <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" required>
              </div>

              <div class="form-group">
                  <label for="password">Name</label>
                  <input class="form-control" type="text" name="name" placeholder="Enter Name" required>
              </div>

              <div class="form-group">
                  <label for="password">Last Name </label>
                  <input class="form-control" type="text" name="lastName"  placeholder="Enter Last Name" required>
              </div>

              <button type="submit" class="btn btn-danger btn-block">Register</button>
          </form>

        </div>
      </div>
  </div>
</div>


<%- include("partials/footer") -%>