<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container">
  <div class="col-md-8 mx-auto mt-5">
    <div class="card">
      <h5 class="card-header">Şifremi Unuttum</h5>
        <div class="card-body">

          <form action="/sifre" method="POST">

            <div class="form-group">
              <label for="username">email</label>
              <input class="form-control rounded-pill" type="email" name="email" id="email" placeholder="Enter email">
          </div>

          <div class="form-group">
              <label for="password">New Password</label>
              <input class="form-control rounded-pill" type="password" name="password" id="password" placeholder="Enter Password">
          </div>

          

          <button type="submit" class="btn btn-dark btn-block">Şifreyi Yenile</button>
          </form>

        </div>
      </div>
  </div>
</div>


<%- include("partials/footer") -%>
 