<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container">
  <div class="col-md-8 mx-auto mt-5">
    <div class="card">
        
        <div class="card-body">

            <div class="">
                <form action="/<%= user.id %>/udelete" method="POST">
                  <button type="submit" class="btn btn-outline-primary text-left">Hesabı Sil</button> </form>
              </div>

             
            

        </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
